body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}
.main {
	width: 1200px;
	padding: auto;
	margin: auto;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}
.site-navigation,
.advantages ul,
.search ul,
.hotels ul
{
	list-style: none;
}
.site-navigation a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #766357;
}
.head-note {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: 100%;
	background-size: 100%;
	text-align: center;
}
.separator {
	background-image: url(../img/separator.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 57px;
}
.main {
	background-color: #ffffff;
}
.advantages h2 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
	line-height: 26px;

}
.subtitle {
	line-height: 26px;
	margin-bottom: 50px;
}
.advantages-number-one,
.advantages-number-two
{
	background-color: #81b3d2;
}

.advantages h3 {
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	    width: 215px;
    padding-left: 33px;
}

.advantages-number-one .number,
.advantages-number-two .number,
.advantages-number-one .advantages-description,
.advantages-number-two .advantages-description
{
	font-weight: 400;
	color: #ffffff;
}
.advantages-item-title {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}
.home {
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 72px;
	text-align: center;
}
.food {
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	width: 74px;
	height: 70px;
}
.lagniappe {
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	width: 64px;
	height: 76px;
}
.home,
.food,
.lagniappe 
{
	margin-left: 115px;
	margin-bottom: 32px;
}
.number {
	font-weight: 400;
}
.maps span {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.footer-social a img {
	background-color: #81b3d2;
}

.modal h2 a{
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}
.modal h2 a:hover {
	background-color: #604e43;
}
.modal h2 a:focus {
	color: #928a85;
	background-color: #503e33;
}
.modal label {
	color: #000000;
	font-weight: 700;
	line-height: 26px;
}
.modal input[type="text"] {
	color: #000000;
	font-weight: 700;
	text-align: 26px;
	border: none;
	background-color: #f2f2f2;
}
.modal input[type="text"]:hover {
	background-color: #ebebeb;
}
.modal input[type="text"]:focus {
	outline:none;
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}
.btn {
	font: inherit;
	text-align: center;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
}
.btn:hover {
	background-color: #669ec0;
}

.btn:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

.show {
	font: inherit;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
}
.show:hover {
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 2px solid #ffffff;
}
.filter-header {
	background-image: url(../img/bg-hotel.jpg);
	color: #ffffff;
}
.infrastructure b {
	font-size: 16px;
	font-weight: 700;
}
.search b,
.search output {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}
.sort {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
.search a {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	border-bottom: 2px dotted #81b3d2;
}
a.search-active {
	font-size: 12px;
	line-height: 18px;
	color: #81b3d2;
	border-bottom: inherit;
}
.hotels h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
}
.hotels span,
.hotels b

{
	font-size: 14px;
	color: #333333;
	font-weight: 400;
}

.hotels a:first-child {
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}
.hotels a:first-child:hover {
	background-color: #669ec0;
}
.hotels a:first-child:focus {
	color: #94b9d2;
	background-color: #5496bd;
}
.hotels a:last-child {
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	background-color: #766357;
}
.hotels a:last-child:hover {
	background-color: #604e43;
}
.hotels a:last-child:focus {
	color: #928a85;
	background-color: #503e33;
}
.hotels span.rating {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}
/* ----- Сеточные стили ----- */


.main-navigation {
	position: relative;
	width: 100%;
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.site-navigation li {
	width: 20%;
	height: 50px;
	text-align: center;
	padding-top: 15px;
}
.site-navigation li:nth-child(2) {
	margin-right: 20%;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 70px;
}

.head-note {
	display: flex;	
	min-height: 504px;
	flex-direction: column;
	text-align: center;
}
.head-note h1 {
	min-height: 23px;
}
.sedona-description {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.advantages h2 {
	width: 440px;
	padding-left: 380px;
	padding-top: 35px;
}
.advantages-big {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.advantages-number-one,
.advantages-number-two
 {
	display: flex;
	flex-direction: row;
	height: 256px;

}
.advantages-number-one-description,
.advantages-number-two-description
 {
	text-align: center;
    padding-left: 60px;
    padding-top: 34px;
    margin-right: 52px;
}
.advantages-description {
	width: 288px;
}
.photo img {
	height: 256px;
	width: 800px;
	margin-top: -14px;
}
.advantages-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 58px;
	padding-bottom: 68px;
}
.advantages-item li {
	width: 305px;
	text-align: center;
}

.advantages-item-two {
	background-color: #eeeeee;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 52px;
	padding-bottom: 62px;
} 
.advantages-item-two li {
	text-align: center;
}
.advantages-item-two .advantages-description {
	width: 276px;

}
.advantages-item-two .advantages-item-title {
	width: 120px;
	padding-left: 75px;
	margin: 0;
}
.maps {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.maps span {
	margin-top: 38px;
	margin-bottom: 14px;
}
.maps p {
    padding-bottom: 121px;
}
.maps img {
	width: 100%;
	height: 472px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.modal {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 568px;
	height: 480px;
	padding-left: 290px;
}
.filter-header {
	display: flex;
	flex-direction: row;
	min-height: 217px;
}
.infrastructure {
	padding-top: 32px;
	padding-left: 72px;
}
.habitation {
	padding-top: 32px;
	padding-left: 112px;
}
.cost {
	padding-top: 32px;
	padding-left: 345px;
}
.search {
	display: flex;
	flex-direction: row;
	padding-top: 35px;
	padding-left: 72px;
}
.search ul {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}
.search ul li {
	padding-left: 39px;
	padding-top: 5px;
}
.hotels {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}
.hotels ul {
	margin: 0;
	padding: 0;
}
.hotels li {
	display: flex;
	flex-direction: row;
	height: 150px;
	
}
.hotels-photo {
	margin-top: 57px;
	margin-left: 72px;
}
.hotel-descriprion {
	margin-top: 30px;
	margin-left: 30px;
}
.rating {
	margin-top: 30px;
	margin-left: 525px;
	height: 26px;
}